#aboutDescription{
  min-width:500px;
  width:60%;
  text-indent: 60px;
  margin-bottom:2%;
  text-align: left;
}
#aboutMe a{
  font-size: 1.5rem;
  padding:0.5%;
}
#aboutMe a:hover{
  background-color: rgba(25, 78, 74, 1);
}
@media only screen and (min-width:1600px){
  #aboutDescription{
    font-size:1.8rem;
  }
}