#technologiesListTop{
  display:flex;
  flex-direction:row;
  justify-content: center;
  height: fit-content;
  width:100%;
}
#technologiesListBottom{
  display:flex;
  flex-direction:row;
  justify-content: center;
  height: fit-content;
  width:100%;
}
.techLogoAndImg{
  display:flex;
  align-items: center;
  padding:2%;
}
.techLogo{
  width:auto;
  height:60px;
}
#skills ul{
  columns:2;
}
#javascriptLogo, #typescriptLogo, #gitLogo{
  padding:6%;
}
@media only screen and (min-width:1300px) {
  .techLogo{
    width:auto;
    height:100px;
  }
  .techLogoAndImg{
    font-size:2rem;
  }
}