#main{
  justify-content:center;
  display:flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  padding-top:6%;
}
.sectionTitle{
  padding-left:10%;
}
.mainBodySection{
  display:flex;
  flex-direction:column;
  align-items: flex-start;
  justify-content: center;
  width:75%;
  margin: 6% 0 6% 0;
}