#education h3{
    text-decoration:underline;
    text-align: center;
}
#education a{
    font-size:1.3rem;
    padding:1%;
}
#education a:hover{
    background-color:rgba(25, 78, 74, 1);
}
#school, #devCourses, #workExperience{
    margin-bottom:2%;
    margin-top:2%;
}
.subscript{
    margin-left:15%;
}
.dates{
    font-style: italic;
}