.header{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content:space-between;
    width:100%;
    height:7%;
    box-shadow: 5px 5px 10px #192842;
    position:fixed;
    background-color:#203354;
    z-index:2;
}
#logoAndResume{
    width:15%;
    min-width:250px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}
#logo{
   margin:3% 0 0% 3%;
}
#pageLinks{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    min-width:400px;
    width:20%;
}
#openSideLinks{
    display:none;
    width:50px;
    height:50px;
    border:1px solid black;
}
#lineOne, #lineTwo, #lineThree{
    animation:none;
}
@keyframes lineOneMovement{
    100%{
        x1:10;
        y1:11;
        x2:40;
        y2:33;
    }
}
@keyframes lineTwoMovement{
    100%{
        x1:0;
        y1:11;
        x2:0;
        y2:33;
    }
}
@keyframes lineThreeMovement{
    100%{
        x1:10;
        y1:33;
        x2:40;
        y2:11;
    }
}
@media only screen and (max-width: 800px){
    #pageLinks, #resumeLink{
        display:none;
    }
    #openSideLinks{
        display:block;
    }
}